<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>Nombre producto</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Chipa</td>
            <td>Salado</td>
            <td>4500</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Churro simple</td>
            <td>Dulce</td>
            <td>700</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Berlinesa Dulce de leche</td>
            <td>Dulce</td>
            <td>900</td>
            <td>40</td>
        </tr>
    </tbody>
</table>
