<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>Imágen</th>
            <th>Nombre producto</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Disponible</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track product.name) {
            <tr>
                <td class="text-center"><img [src]="product.image" [alt]="product.name" width="140" height="110"></td>
                <td class="text-center align-middle">{{product.name}}</td>
                <td class="text-center align-middle">{{product.type}}</td>
                <td class="text-center align-middle">{{product.price | currency}}</td>        
                <td class="text-center align-middle">{{product.stock}}</td>
                <td class="text-center align-middle">
                    @if (product.stock==0) {
                        <span class="badge text-bg-warning">SIN STOCK</span>
                    }
                    @else {                        
                        <span class="badge text-bg-success">HAY STOCK</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
